In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("spark_filter").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/29 16:13:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/04/29 16:13:39 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/04/29 16:13:39 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
df = spark.read.csv("data2.csv", header=True, inferSchema=True)

In [4]:
df.show(5)

+----+----+----------+-----------+
|city|year|weekofyear|total_cases|
+----+----+----------+-----------+
|  sj|1990|        18|          4|
|  sj|1990|        19|          5|
|  sj|1990|        20|          4|
|  sj|1990|        21|          3|
|  sj|1990|        22|          6|
+----+----+----------+-----------+
only showing top 5 rows

Filter

In [5]:
df.filter("weekofyear > 30").show(5)

+----+----+----------+-----------+
|city|year|weekofyear|total_cases|
+----+----+----------+-----------+
|  sj|1990|        31|         17|
|  sj|1990|        32|         23|
|  sj|1990|        33|         13|
|  sj|1990|        34|         21|
|  sj|1990|        35|         28|
+----+----+----------+-----------+
only showing top 5 rows

In [11]:
df.filter(~(df["weekofyear"] > 30)).show(5)

+----+----+----------+-----------+
|city|year|weekofyear|total_cases|
+----+----+----------+-----------+
|  sj|1990|        18|          4|
|  sj|1990|        19|          5|
|  sj|1990|        20|          4|
|  sj|1990|        21|          3|
|  sj|1990|        22|          6|
+----+----+----------+-----------+
only showing top 5 rows

In [12]:
df.filter("weekofyear > 30").select(['weekofyear', 'total_cases']).show(5)

+----------+-----------+
|weekofyear|total_cases|
+----------+-----------+
|        31|         17|
|        32|         23|
|        33|         13|
|        34|         21|
|        35|         28|
+----------+-----------+
only showing top 5 rows

In [13]:
df.filter((df["weekofyear"] > 30) & (df["total_cases"] < 20)).show(5)

+----+----+----------+-----------+
|city|year|weekofyear|total_cases|
+----+----+----------+-----------+
|  sj|1990|        31|         17|
|  sj|1990|        33|         13|
|  sj|1993|        31|         17|
|  sj|1993|        34|         12|
|  sj|1993|        38|         18|
+----+----+----------+-----------+
only showing top 5 rows

Groupby

In [17]:
df.groupBy("year").count().show(5)

+----+-----+
|year|count|
+----+-----+
|1990|   35|
|2003|  104|
|2007|  104|
|2006|  104|
|1997|   52|
+----+-----+
only showing top 5 rows

In [18]:
df.groupBy("year").sum().show(5)

+----+---------+---------------+----------------+
|year|sum(year)|sum(weekofyear)|sum(total_cases)|
+----+---------+---------------+----------------+
|1990|    69650|           1225|             866|
|2003|   208312|           2756|            1063|
|2007|   208728|           2756|            2334|
|2006|   208624|           2756|             986|
|1997|   103844|           1378|            1454|
+----+---------+---------------+----------------+
only showing top 5 rows

In [19]:
df.agg({"total_cases": "sum"}).show(5)

+----------------+
|sum(total_cases)|
+----------------+
|           35927|
+----------------+