In [2]:
import pandas as pd
import pyspark

In [3]:
pandas_df = pd.read_csv('data.csv')

In [4]:
pandas_df.head()

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

In [5]:
from pyspark.sql import SparkSession

Start a spark session

In [6]:
spark = SparkSession.builder.appName('practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/29 15:01:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark

Read data from csv (1st Method)

In [8]:
spark_df = spark.read.csv('data.csv')

In [9]:
spark_df.show()

+----+----+----------+-----------+
| _c0| _c1|       _c2|        _c3|
+----+----+----------+-----------+
|city|year|weekofyear|total_cases|
|  sj|1990|        18|          4|
|  sj|1990|        19|          5|
|  sj|1990|        20|          4|
|  sj|1990|        21|          3|
|  sj|1990|        22|          6|
|  sj|1990|        23|          2|
|  sj|1990|        24|          4|
|  sj|1990|        25|          5|
|  sj|1990|        26|         10|
|  sj|1990|        27|          6|
|  sj|1990|        28|          8|
|  sj|1990|        29|          2|
|  sj|1990|        30|          6|
|  sj|1990|        31|         17|
|  sj|1990|        32|         23|
|  sj|1990|        33|         13|
|  sj|1990|        34|         21|
|  sj|1990|        35|         28|
|  sj|1990|        36|         24|
+----+----+----------+-----------+
only showing top 20 rows

In [10]:
spark.read.option('header', 'true').csv('data.csv').show()

+----+----+----------+-----------+
|city|year|weekofyear|total_cases|
+----+----+----------+-----------+
|  sj|1990|        18|          4|
|  sj|1990|        19|          5|
|  sj|1990|        20|          4|
|  sj|1990|        21|          3|
|  sj|1990|        22|          6|
|  sj|1990|        23|          2|
|  sj|1990|        24|          4|
|  sj|1990|        25|          5|
|  sj|1990|        26|         10|
|  sj|1990|        27|          6|
|  sj|1990|        28|          8|
|  sj|1990|        29|          2|
|  sj|1990|        30|          6|
|  sj|1990|        31|         17|
|  sj|1990|        32|         23|
|  sj|1990|        33|         13|
|  sj|1990|        34|         21|
|  sj|1990|        35|         28|
|  sj|1990|        36|         24|
|  sj|1990|        37|         20|
+----+----+----------+-----------+
only showing top 20 rows

Read data from csv (2nd Method)

In [11]:
# If inferSchema is not set to True, it will read all the columns as string
df = spark.read.option('header', 'true').csv('data.csv', inferSchema=True)

Check type of dataframe

In [12]:
type(df)

pyspark.sql.dataframe.DataFrame

Select first n rows

In [17]:
df.head(3)

[Row(city='sj', year=1990, weekofyear=18, total_cases=4),
 Row(city='sj', year=1990, weekofyear=19, total_cases=5),
 Row(city='sj', year=1990, weekofyear=20, total_cases=4)]

Get the metadata

In [14]:
df.printSchema()

root
 |-- city: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- weekofyear: integer (nullable = true)
 |-- total_cases: integer (nullable = true)

Show data in tabular form

In [15]:
df.show(3)

+----+----+----------+-----------+
|city|year|weekofyear|total_cases|
+----+----+----------+-----------+
|  sj|1990|        18|          4|
|  sj|1990|        19|          5|
|  sj|1990|        20|          4|
+----+----+----------+-----------+
only showing top 3 rows

Check all columns of dataframe

In [16]:
df.columns

['city', 'year', 'weekofyear', 'total_cases']

Select single column

In [27]:
df.select('year').show(5)

+----+
|year|
+----+
|1990|
|1990|
|1990|
|1990|
|1990|
+----+
only showing top 5 rows

Select multiple Columns

In [26]:
df.select(['year', 'city']).show(5)

+----+----+
|year|city|
+----+----+
|1990|  sj|
|1990|  sj|
|1990|  sj|
|1990|  sj|
|1990|  sj|
+----+----+
only showing top 5 rows

Check datatypes

In [28]:
df.dtypes

[('city', 'string'),
 ('year', 'int'),
 ('weekofyear', 'int'),
 ('total_cases', 'int')]

Statistical description of data

In [30]:
df.describe().show()

24/04/29 15:15:51 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+----+------------------+------------------+-----------------+
|summary|city|              year|        weekofyear|      total_cases|
+-------+----+------------------+------------------+-----------------+
|  count|1456|              1456|              1456|             1456|
|   mean|NULL|2001.0315934065934|26.503434065934066|24.67513736263736|
| stddev|NULL| 5.408313995800633|15.019437184985504| 43.5960001631075|
|    min|  iq|              1990|                 1|                0|
|    max|  sj|              2010|                53|              461|
+-------+----+------------------+------------------+-----------------+

Add a new column to dataframe

In [37]:
df = df.withColumn("year after two years", df['year'] + 2)

In [38]:
df.show(3)

+----+----+----------+-----------+--------------------+
|city|year|weekofyear|total_cases|year after two years|
+----+----+----------+-----------+--------------------+
|  sj|1990|        18|          4|                1992|
|  sj|1990|        19|          5|                1992|
|  sj|1990|        20|          4|                1992|
+----+----+----------+-----------+--------------------+
only showing top 3 rows

Drop a column

In [39]:
df = df.drop('year after two years')

In [40]:
df.show(3)

+----+----+----------+-----------+
|city|year|weekofyear|total_cases|
+----+----+----------+-----------+
|  sj|1990|        18|          4|
|  sj|1990|        19|          5|
|  sj|1990|        20|          4|
+----+----+----------+-----------+
only showing top 3 rows

Rename a column

In [41]:
df = df.withColumnRenamed('year', 'year_renamed')

In [42]:
df.show(3)

+----+------------+----------+-----------+
|city|year_renamed|weekofyear|total_cases|
+----+------------+----------+-----------+
|  sj|        1990|        18|          4|
|  sj|        1990|        19|          5|
|  sj|        1990|        20|          4|
+----+------------+----------+-----------+
only showing top 3 rows